.container {
    width: 70%;
    margin: auto;
}

.logo {
    width: 25%;
    position: relative;
    top: 60px;
    left: 10px;
}

.container-logo {
    height: 150px;
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
}

.address-text {
    font-style: normal;
    color: lightgray;
    font-size: 18px;
    margin-bottom: 20px;
}

.booleaner-text{
    color: lightskyblue;
}

.image-text {
    font-size: 15px;
}

.special-text {
    background-color: yellow;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead th:nth-child(1) {
    width: 25%;
}

thead th:nth-child(2) {
    width: 25%;
}

thead th:nth-child(3) {
    width: 50%;
}

th {
    background-color: rgb(0, 119, 255);
    color: white;
}

th,td {
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: lightblue;
}

h3 {
    color: grey;
}

.image-top {
    background-image:url(../img/monitor.jpg) ;
    height: 150px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-bottom {
    background-image:url(../img/graph.jpg) ;
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-text {
    color: white;
    font-size: large;
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 10px;
    
}












    



